@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes r-to-l {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

@keyframes max-height-appear {
  from {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    max-height: 100vh;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

@keyframes max-height-disappear {
  from {
    max-height: 100vh;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  to {
    max-height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@keyframes rotate-180 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes from-180 {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(0deg);
  }
}
